### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [142]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [143]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [144]:
Summary_df = pd.DataFrame()

# Total Schools, add to Summary DF 
TotalSchools = pd.Series(school_data_complete['School ID'].nunique())
Summary_df['Total Number of Schools'] = TotalSchools

# Total Students, add to Summary DF 
TotalStudents = school_data_complete['Student ID'].nunique()
Summary_df['Total Number of Students'] = TotalStudents

# Total Budget, add to Summary DF 
TotalBudget = school_data_complete['budget'].unique().sum()
Summary_df['Total Schools budget'] = TotalBudget

# Calculate Reading and Maths Averages, add to Summary DF 
AverageMathScore = school_data_complete['math_score'].mean()
Summary_df['Average Math Score'] = AverageMathScore
AverageReadingScore = school_data_complete['reading_score'].mean()
Summary_df['Average Reading Score'] = AverageReadingScore
NumStudentsPassingMaths = school_data_complete['math_score'][school_data_complete["math_score"] >= 70].count()

# Calculate percentage of students passing reading and maths, add to summary DF 
NumStudentsPassingReading = school_data_complete['reading_score'][school_data_complete["reading_score"] >= 70].count()
NumStudentsPassingMathsAndReading = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count()
PctStudentsPassingMaths = NumStudentsPassingMaths / TotalStudents
PctStudentsPassingReading = NumStudentsPassingReading / TotalStudents
PctStudentsPassingMathsAndReading = NumStudentsPassingMathsAndReading / TotalStudents
Summary_df['% Students Passing Maths'] = PctStudentsPassingMaths
Summary_df['% Students Passing Reading'] = PctStudentsPassingReading
# below variable passed as a series not a value, extract a value 
Summary_df['% Students Passing Maths & Reading'] = PctStudentsPassingMathsAndReading['reading_score']

Summary_df

,Total Number of Schools,Total Number of Students,Total Schools budget,Average Math Score,Average Reading Score,% Students Passing Maths,% Students Passing Reading,% Students Passing Maths & Reading
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.651723

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [145]:
# create empty dataframe 
School_Summary_df = pd.DataFrame()

# create GroupBy table, group by School
schools_groupby_df = school_data_complete.groupby('school_name')

# Get Total Students per School
School_Summary_df['Students per School'] = schools_groupby_df['Student ID'].nunique()

# Get School Budget, get mean as values are same 
School_Summary_df['Budget per School'] = schools_groupby_df['budget'].mean()

# Calculate Per Student Budget
School_Summary_df['Budget per Student'] = School_Summary_df['Budget per School'] / School_Summary_df['Students per School']

# Calculate Average Math Score 
School_Summary_df['Average Math Score'] = schools_groupby_df['math_score'].mean()

# Calculate Average Reading Score 
School_Summary_df['Average Reading Score'] = schools_groupby_df['reading_score'].mean()

# Calc Students Passing Maths 
NumStudentsPassingMaths = (school_data_complete['math_score'] >=70).groupby(school_data_complete.school_name).sum()
School_Summary_df['% Students Passing Maths'] = NumStudentsPassingMaths / School_Summary_df['Students per School']

# Calc Students Passing Reading
NumStudentsPassingReading = (school_data_complete['reading_score'] >=70).groupby(school_data_complete.school_name).sum()
School_Summary_df['% Students Passing Reading'] = NumStudentsPassingReading / School_Summary_df['Students per School']

# Calc Students Passing Maths and Reading
NumStudentsPassingMathsAndReading = ((school_data_complete['reading_score'] >=70) & (school_data_complete['math_score'] >=70)).groupby(school_data_complete.school_name).sum()
School_Summary_df['% Students Passing Maths and Reading'] = NumStudentsPassingMathsAndReading / School_Summary_df['Students per School']

School_Summary_df

,Students per School,Budget per School,Budget per Student,Average Math Score,Average Reading Score,% Students Passing Maths,% Students Passing Reading,% Students Passing Maths and Reading
school_name,,,,,,,,
Bailey High School,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.903333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [146]:
# Clone Previous DataFrame 
Top_Performing_Schools_df = School_Summary_df.copy()

Top_Performing_Schools_df = Top_Performing_Schools_df.sort_values(by='% Students Passing Maths and Reading', ascending = False)
Top_Performing_Schools_df = Top_Performing_Schools_df.nlargest(5, '% Students Passing Maths and Reading')
Top_Performing_Schools_df

,Students per School,Budget per School,Budget per Student,Average Math Score,Average Reading Score,% Students Passing Maths,% Students Passing Reading,% Students Passing Maths and Reading
school_name,,,,,,,,
Cabrera High School,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Thomas High School,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Griffin High School,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Wilson High School,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Pena High School,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [156]:
Bottom_Performing_Schools_df = School_Summary_df.copy()

Bottom_Performing_Schools_Sorted_df = Bottom_Performing_Schools_df.sort_values(by='% Students Passing Maths and Reading', ascending = True)
Bottom_Performing_Schools_Sorted_df = Bottom_Performing_Schools_df.nsmallest(5, '% Students Passing Maths and Reading')

Bottom_Performing_Schools_Sorted_df

,Students per School,Budget per School,Budget per Student,Average Math Score,Average Reading Score,% Students Passing Maths,% Students Passing Reading,% Students Passing Maths and Reading
school_name,,,,,,,,
Rodriguez High School,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Figueroa High School,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Huang High School,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Hernandez High School,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Johnson High School,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [165]:
# Create Empty Dataframe
School_Grade_Summary_df = pd.DataFrame()

School_Grade_Groupby_df = school_data_complete.groupby(['school_name','grade'])

School_Grade_Summary_df['Total Students'] = School_Grade_Groupby_df['Student ID'].count()


School_Grade_Summary_df

                             Total Students
school_name           grade
Bailey High School    10th             1239
                      11th             1251
                      12th             1028
                      9th              1458
Cabrera High School   10th              466
                      11th              482
                      12th              382
                      9th               528
Figueroa High School  10th              763
                      11th              709
                      12th              621
                      9th               856
Ford High School      10th              708
                      11th              659
                      12th              539
                      9th               833
Griffin High School   10th              406
                      11th              361
                      12th              292
                      9th               409
Hernandez High School 10th             1227
                      11th             1088
                      12th              938
                      9th              1382
Holden High School    10th              114
                      11th              103
                      12th               83
                      9th               127
Huang High School     10th              767
                      11th              721
                      12th              585
                      9th               844
Johnson High School   10th             1227
                      11th             1198
                      12th              936
                      9th              1400
Pena High School      10th              250
                      11th              256
                      12th              181
                      9th               275
Rodriguez High School 10th             1040
                      11th             1006
                      12th              789
                      9th              1164
Shelton High School   10th              448
                      11th              412
                      12th              371
                      9th               530
Thomas High School    10th              421
                      11th              415
                      12th              338
                      9th               461
Wilson High School    10th              606
                      11th              599
                      12th              447
                      9th               631
Wright High School    10th              486
                      11th              435
                      12th              369
                      9th               510

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type